body{
    background-color: yellow;
}
.header1{
    font-size: large;
}
#Ask_Page{
    font-size: 60px;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    height: 150px;
}