body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://api.themezer.net/cdn/themes/209e/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}




































.LOGIN {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 35px 47px;
    width: 450px;
    text-align: center;
}

.LOGIN h2 {
    margin-bottom: 35px;
    color: #333;
    font-size: 28px;
}

.BOXFORTEXT {
    margin-bottom: 22px;
    text-align: left;
}

.BOXFORTEXT label {
    display: block;
    font-size: 19px;
    margin-bottom: 9px;
    color: #555;
}

.BOXFORTEXT input[type="text"],
.BOXFORTEXT input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
}

.REMEMBER {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.REMEMBER label {
    font-size: 19px;
    color: #555;
}

.REMEMBER input[type="checkbox"] {
    margin-right: 10px;
}

.FORGOTPASS {
    text-align: right;
    padding-bottom: 18px;
    padding-top: 18px;
}

.FORGOTPASS a {
    text-decoration: none;
    font-size: 19px;
    color: #007BFF;
}

.FORGOTPASS a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 17px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px; 
}

button:hover {
    background-color: #0056b3;
}










