body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://api.themezer.net/cdn/themes/209e/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.LOGIN {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 35px 47px;
    width: 450px;
    text-align: center;
}

.LOGIN h2 {
    margin-bottom: 35px;
    color: #333;
    font-size: 28px;
}

.BOXFORTEXT {
    margin-bottom: 22px;
    text-align: left;
}

.BOXFORTEXT label {
    display: block;
    font-size: 19px;
    margin-bottom: 9px;
    color: #555;
}

button {
    width: 100%;
    padding: 17px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px; 
}

button:hover {
    background-color: #0056b3;
}

.INPUT {
    width: 100%;
    height: 54.5px;
    border-radius: 10px;
    border-color: #cae0f6;
}












